BOT_NUMBER= # tanpa "+" di depan nomor, dan diawali dengan kode negara (seperti: 62xxxxxxxxx)
PREFIX=. # bisa lebih dari satu, isi seperti: .,#,> (dipisahkan dengan koma)
OWNERS= # contoh: 628xxxxxx,62123456789 (pisahkan dengan koma)
PAIRING_METHOD= # pairing/qr (pilih salah satu)

STICKER_AUTHOR=
STICKER_PACK_NAME=